
.bg-secondary  {
    background-color:  #330066 !important;
}


.bg-primary{
    background-color: #5900b3 !important;
}
/* #330066  */


.gw-alert-navbar{
    font-family: 'Cookie', cursive;
    color: #ff751a;
    font-size: 3rem;
}


.center{
    text-align: center;
    padding:15%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    color:white;
}
